<ion-view>
    <ion-content>
        <div class="video_lession">
            <div class="video_warp">
                <div class="video_mask">
                    <a href="http://www.baidu.com">
                        <div class="back"></div>
                    </a>
                    <!-- <div class="play"></div> -->
                </div>
                <video poster="{{video.videoPic}}"></video>
            </div>
            <div ng-controller="viewController as view" ng-switch="view.current" ng-cloak>
                <div class="lession_picking">
                    <ul>
                        <li ng-click="view.next()" ng-class="{true:'on',false:''}[isOn]">目录</li>
                        <li ng-click="view.next()" ng-class="{true:'',false:'on'}[isOn]">详情</li>
                    </ul>
                </div>
                <div class="video_detail" ng-switch-when="list">
                    <h1>{{video.videoName}}</h1>
                    <p class="price red">{{video.videoId}}</p>
                    <div class="summary">
                        <div class="title">简介</div>
                        <div class="content">
                            <p>{{video.summary}}</p>
                        </div>
                    </div>
                </div>
                <div class="video_list" ng-switch-when="detail">
                    <ul ng-if="videolist">
                        <li ng-repeat="lesson in videolist">
                        <a href=""><h2>{{lesson.lessonName}}</h2></a>
                            <div class="floatright"><span class="red">当前课程</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
