<ion-view>
    <ion-content>
        <div class="index">
            <div class="banner">
                <div id="swiper-container1" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="ad in ads">
                            <a href=""><img ng-src="{{ad.adPic}}" alt=""></a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="video_sort">
                <div id="swiper-container2" class="swiper-container swiper-container-horizontal swiper-container-free-mode">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="sx in sorts">
                            <a ui-sref="search({{sx}})">
                                <img ng-src="{{sx.pic}}" alt="">
                                <p>{{sx.name}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="zs_lesson">
                <div class="zs_lesson_title">
                    <p>直播</p>
                </div>
                <div class="lesson_warp">
                    <div class="lesson_item priority">
                        <div class="pic">
                            <a ui-sref="content({{zspriority}})">
                                <img ng-src="{{zspriority.videoPic}}" alt="">
                            </a>
                        </div>
                        <p>{{zspriority.videoName}}</p>
                        <div class="info"><span>进度{{zspriority.pro}}节</span></div>
                    </div>
                    <div class="lesson_normal">
                        <div class="lesson_item " ng-repeat="zs in zslesson">
                            <div class="pic">
                                <a ui-sref="content({{zs}})">
                                    <img ng-src="{{zs.videoPic}}" alt="">
                                </a>
                            </div>
                            <p>{{zs.videoName}}</p>
                            <div class="info"><span>{{zs.pro}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="zs_lesson playback">
                <div class="zs_lesson_title">
                    <p>独家回放</p>
                </div>
                <div class="lesson_warp">
                    <div class="lesson_item priority" ng-if="repriority">
                        <div class="pic">
                            <a ui-sref="content({{repriority}})">
                                <img ng-src="{{repriority.videoPic}}" alt="">
                            </a>
                        </div>
                        <p>{{repriority.videoName}}</p>
                        <div class="info"><span>进度{{repriority.pro}}节</span></div>
                    </div>
                    <div class="lesson_normal">
                        <div class="lesson_item " ng-repeat="re in relesson">
                            <div class="pic">
                                <a ui-sref="content(re)">
                                    <img ng-src="{{re.videoPic}}" alt="">
                                </a>
                            </div>
                            <p>{{re.videoName}}</p>
                            <div class="info"><span>进度{{re.pro}}节</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
