<ion-view >
  <ion-content>
    <div class="index">
        <div class="banner">
            <div id="swiper-container1" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href=""><img src="images/banner.png" alt=""></a></div>
                    <div class="swiper-slide"><a href=""><img src="images/banner1.png" alt=""></a></div>
                    <div class="swiper-slide"><a href=""><img src="images/banner.png" alt=""></a></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="video_sort">
            <div id="swiper-container2" class="swiper-container swiper-container-horizontal swiper-container-free-mode">
                <div class="swiper-button-next"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href=""><img src="images/cicle1.png" alt=""><p>全部</p></a></div>
                    <div class="swiper-slide"><a href=""><img src="images/cicle2.png" alt=""><p>语文</p></a></div>
                    <div class="swiper-slide"><a href=""><img src="images/cicle3.png" alt=""><p>数学</p></a></div>
                    <div class="swiper-slide"><a href=""><img src="images/cicle4.png" alt=""><p>英语</p></a></div>
                    <div class="swiper-slide"><a href=""><img src="images/cicle1.png" alt=""><p>英语</p></a></div>
                    <div class="swiper-slide"><a href=""><img src="images/cicle1.png" alt=""><p>英语</p></a></div>
                    <div class="swiper-slide"><a href=""><img src="images/cicle1.png" alt=""><p>英语</p></a></div>
                    <div class="swiper-slide"><a href=""><img src="images/cicle1.png" alt=""><p>英语</p></a></div>
                    <div class="swiper-slide"><a href=""><img src="images/cicle1.png" alt=""><p>英语</p></a></div>
                    <div class="swiper-slide"><a href=""><img src="images/cicle1.png" alt=""><p>英语</p></a></div>
                </div>
            </div>
        </div>
        <div class="zs_lesson">
            <div class="zs_lesson_title">
                <p>中山名师课堂</p>
            </div>
            <div class="lesson_warp">
                <div class="lesson_item priority">
                    <div class="pic">
                        <a href="">
                            <img src="images/banner1.png" alt="">
                        </a>
                    </div>
                    <p>标题表表表表提踢踢踢提提提提踢踢踢</p>
                    <div class="info"><span>进度2/12节</span></div>
                </div>
                <div class="lesson_normal">
                    <div class="lesson_item ">
                        <div class="pic">
                            <a href="">
                                <img src="images/banner1.png" alt="">
                            </a>
                        </div>
                        <p>标题表表表表提踢踢踢提提提提踢踢踢</p>
                        <div class="info"><span>进度2/12节</span></div>
                    </div>
                    <div class="lesson_item ">
                        <div class="pic">
                            <a href="">
                                <img src="images/banner1.png" alt="">
                            </a>
                        </div>
                        <p>标题表表表表提踢踢踢提提提提踢踢踢</p>
                        <div class="info"><span>进度2/12节</span></div>
                    </div>
                    <div class="lesson_item ">
                        <div class="pic">
                            <a href="">
                                <img src="images/banner1.png" alt="">
                            </a>
                        </div>
                        <p>标题表表表表提踢踢踢提提提提踢踢踢</p>
                        <div class="info"><span>进度2/12节</span></div>
                    </div>
                    <div class="lesson_item ">
                        <div class="pic">
                            <a href="">
                                <img src="images/banner1.png" alt="">
                            </a>
                        </div>
                        <p>标题表表表表提踢踢踢提提提提踢踢踢</p>
                        <div class="info"><span>进度2/12节</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zs_lesson playback">
            <div class="zs_lesson_title">
                <p>独家回放</p>
            </div>
            <div class="lesson_warp">
                <div class="lesson_item priority">
                    <div class="pic">
                        <a href="">
                            <img src="images/banner1.png" alt="">
                        </a>
                    </div>
                    <p>标题表表表表提踢踢踢提提提提踢踢踢</p>
                    <div class="info"><span>进度2/12节</span></div>
                </div>
                <div class="lesson_normal">
                    <div class="lesson_item ">
                        <div class="pic">
                            <a href="">
                                <img src="images/banner1.png" alt="">
                            </a>
                        </div>
                        <p>标题表表表表提踢踢踢提提提提踢踢踢</p>
                        <div class="info"><span>进度2/12节</span></div>
                    </div>
                    <div class="lesson_item ">
                        <div class="pic">
                            <a href="">
                                <img src="images/banner1.png" alt="">
                            </a>
                        </div>
                        <p>标题表表表表提踢踢踢提提提提踢踢踢</p>
                        <div class="info"><span>进度2/12节</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
